---
layout: default
title: Heedspin Ruby Blog
description: An informal technical blog on ruby programming.
links:
- <a href="https://github.com/zilkey/active_hash">Active Hash on Github</a>
- I recommend following the <a href="http://criticaljuncture.org/">ruby and web experts at Critical Juncture</a>
---
{% for post in site.posts %}
{% if post.homepage == true %}
<div class="post_header group">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <ul>
    <li> {{post.date | date: "%B %d, %Y"}} </li>
    <li> {{post.author}} </li>
  </ul>
</div>

{{ post.content }}

<hr />
<br />
<p><a href="{{ post.url }}#disqus_thread">Comments</a></p>
{% endif %}
{% endfor %}