---
layout: default
title: Heedspin Blog
description: An informal blog on ruby programming and other maybe some other topics.
links:
- <a href="http://en.wikipedia.org/wiki/Etiquette_in_North_America#Pointing_and_gestures">Pointing is not nice</a>
---
{% for post in site.posts %}
{% if post.homepage == true %}
<div class="post_header group">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <ul>
    <li> {{post.date | date: "%B %d, %Y"}} </li>
    <li> {{post.author}} </li>
  </ul>
</div>

{{ post.content }}

<hr />
<br />
<p><a href="http://www.heedspin.com{{post.url}}#disqus_thread">Comments</a></p>
{% endif %}
{% endfor %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'heedspin';
    var disqus_identifier = 'www.heedspin.com:{{ page.id }}';
    var disqus_url = 'http://www.heedspin.com{{ page.url }}';
    (function() {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
